.hero {
  &__content {
    color: $color-tri;
  }
}

.post {
  &.card {
    margin: $space-atom * $sm;
    overflow: hidden;
  }

  &__content {
    padding: $space-atom * $md;
  }


  &.img {
    .post {
      &__content {
        height: 0px;
      }
    }
  }
}



// 100px and up
@media screen and (min-width: 100px) {
  .feed {
    &__container {
      display: flex;
      flex-direction: column;
    }
  }

}

// 700px and up
@media screen and (min-width: $media-small) {
  .feed {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;

      &>.post-img {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  .post {
    max-height: 400px;
    min-width: 40%;
    flex-basis: 40%;
    overflow: hidden;

    &.post-img {
      width: 100%;
      flex-basis: 100%;
      display: flex;

      &:nth-last-of-type(2n) {
        -ms-flex-direction: row;
        flex-direction: row;
      }

      &:nth-last-of-type(2n-1) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
      }

      .post {
        &__img {
          width: 100%;
          flex-basis: 100%;
        }
      }
    }

    &.img {
      // width: 45%;
      // flex-basis: 45%;

      .post {
        &__img {
          img {
            width: 100%
          }

          flex-basis: 100%;
        }
      }
    }
  }

}

// 960px
@media screen and (min-width: $media-med) {
  .feed {
    &__container {
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      // grid-template-rows: 1fr 1fr;

      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .post {
    &.img {
      .post {
        &__img {
          flex-basis: 100%;

          img {
            margin: auto;
          }
        }
      }
    }

    &.post-img {
      width: 100%;
      flex-basis: 100%;
      display: flex;

      .post {
        &__img {
          flex-basis: 100%;

        }
      }
    }
  }

}

@media screen and (min-width: $media-large) {
  // .feed {
  //   &__container {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr 1fr 1fr;
  //     grid-template-rows: 1fr 1fr;
  //   }
  // }

  // .post-img {
  //   &:nth-of-type(2n) {
  //     grid-column: 1/span 2;
  //   }

  //   &:nth-of-type(2n-1) {
  //     grid-column: 3/span 4;
  //   }

  // }
  .post {
    &.img {
      .post {
        &__img {
          flex-basis: 100%;

          img {
            margin: auto;
          }
        }
      }
    }

    &.post-img {
      width: 45%;
      flex-basis: 45%;
      display: flex;

      .post {
        &__img {
          height: 100%;

          &>div {
            height: 100%;
          }
        }
      }
    }
  }


  .container {
    &__content {
      width: 100%;
      max-width: 1200px;
      margin: auto;
    }
  }
}

@media screen and (min-width: $media-xlarge) {}