.hero {
  &__content {
    color: $color-tri;
  }
}

.post {
  display: flex;
  flex-direction: column;

  &__img {
    max-height: 375px;
    overflow: hidden;
  }

  &.card {
    margin: $space-atom * $sm;
    overflow: hidden;
    max-height: 500px;
    height: 500px;
    min-width: 100%;
    flex-basis: 100%;
  }

  &__content {
    flex-grow: 1;
    padding: $space-atom * $xs;
    padding-left: $space-atom * $sm;
    padding-right: $space-atom * $sm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}



// 100px and up
@media screen and (min-width: 100px) {
  .feed {
    &__container {
      display: flex;
      flex-direction: column;
    }
  }

}

// 700px and up
@media screen and (min-width: $media-small) {
  .feed {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

// 960px
@media screen and (min-width: $media-med) {
  .post.card {
    min-width: 45%;
    flex-basis: 45%;
  }

  .feed {
    &__container {
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      // grid-template-rows: 1fr 1fr;

      flex-direction: row;
      flex-wrap: wrap;
    }
  }



}

@media screen and (min-width: $media-large) {
  .post.card {
    min-width: 30%;
    flex-basis: 30%;
  }

  .container {
    &__content {
      width: 100%;
      max-width: 1200px;
      margin: auto;
    }
  }
}

@media screen and (min-width: $media-xlarge) {}