button {
  font-family: $base-family;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

a {
  font-family: $base-family;
  color: $color-grey-8;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.btn {
  padding-top: $space-atom * $sm;
  padding-bottom: $space-atom * $xs;
  padding-left: $space-atom;
  padding-right: $space-atom;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;

  &__pri {
    &--light {


      &:hover,
      &:focus {}
    }

    &--dark {

      &:hover,
      &:focus {}
    }
  }

  &__sec {
    &--light {
      background-color: $color-pri;

      &:hover,
      &:focus {
        background-color: $color-pri;
        color: $color-sec;
      }
    }

    &--dark {

      &:hover,
      &:focus {
        background-color: $color-pri;
        color: $color-sec;
      }
    }
  }
}

a {
  transition: all ease-in-out 0.2s;
  color: $pri-type-color;

  &:hover,
  &:focus {
    svg {
      transform: translateX(5px);
    }

  }

  &:active {
    color: $color-pri;
  }
}

.cta,
.btn,
.link {
  &__icon {
    svg {
      transition: all ease-in-out 0.2s;
      margin-left: .2rem;
      font-size: 1.5rem;

    }

    &--light {
      svg {}
    }

    &--dark {
      svg {}

    }

  }

  &__pri {
    &--light {

      &:hover {}

      &:focus {}

    }

    &--dark {
      color: $color-grey-8;
      border: $color-grey-8 2px solid;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;


      &:hover {
        color: $color-pri;
        background-color: $color-grey-8;
        border: $color-grey-8 2px solid;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

      }

      &:focus {}
    }
  }

  &__sec {
    &--light {
      &:hover {}

      &:focus {}
    }

    &--dark {
      &:hover {}

      &:focus {}
    }
  }
}