button {
  font-family: $base-family;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

a {
  font-family: $base-family;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.btn {
  padding-top: $space-atom * $sm;
  padding-bottom: $space-atom * $xs;
  padding-left: $space-atom;
  padding-right: $space-atom;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

a {
  transition: all ease-in-out 0.2s;

  &:hover,
  &:focus {
    color: $color-tri;
  }
}

.container {
  &.dark {
    $color-pri: #423144;
    $color-sec: #F4F4F5;
    $color-tri: #aa8fad;
    $color-quad: #2D242E;

    a {
      color: $color-sec;

      .link {
        color: $color-sec;

        &:hover,
        &:focus {
          color: $color-tri;
        }
      }

      &>* {
        color: $color-sec;
      }

      &:hover,
      &:focus {
        color: $color-tri;
      }
    }
  }

  &.light {
    $color-pri: #F4F4F5;
    $color-sec: #2D242E;
    $color-tri: #aa8fad;
    $color-quad: #dfdfe2;

    a {
      color: $color-sec;

      &:hover,
      &:focus {
        color: $color-tri;
      }

      .link {
        color: $color-sec;

        &:hover,
        &:focus {
          color: $color-tri;
        }
      }


      &>* {
        color: $color-sec;

        &:hover,
        &:focus {
          color: $color-tri;
        }
      }
    }
  }
}

/***
** Toggle 
***/

.toggle {
  &.theme {
    cursor: pointer;
    width: 80px;
    height: 20px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    &>div {
      transition: all ease-in-out .3s;
      position: absolute;
      top: 0px;
      height: 20px;
      width: 20px;
    }

    &.dark {

      border: solid 1px #F4F4F5;

      &>div:first-of-type {
        left: 0px;
        background-color: #F4F4F5;
      }

      &>div:last-of-type {
        left: 30px;
      }
    }

    &.light {
      border: solid 1px #423144;

      &>div:first-of-type {
        left: 60px;
        background-color: #423144;
      }

      &>div:last-of-type {
        left: 10px;
      }
    }
  }
}