button {
  font-family: $base-family;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

a {
  font-family: $base-family;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.btn {
  padding-top: $space-atom * $sm;
  padding-bottom: $space-atom * $xs;
  padding-left: $space-atom;
  padding-right: $space-atom;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

a {
  transition: all ease-in-out 0.2s;


  &:hover,
  &:focus {
    svg {
      transform: translateX(5px);
    }
  }
}

.cta,
.btn,
.link {
  &__icon {
    svg {
      transition: all ease-in-out 0.2s;
      margin-left: .2rem;
      font-size: 1.5rem;

    }
  }

  &__pri {
    &--dark {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;

      &:hover {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

      }
    }
  }
}

.container {
  &.dark {
    $color-pri: #423144;
    $color-sec: #F4F4F5;
    $color-tri: #aa8fad;
    $color-quad: #2D242E;

    a {
      .link {
        color: $color-sec;
      }

      &>* {
        color: $color-sec;
      }
    }
  }

  &.light {
    $color-pri: #F4F4F5;
    $color-sec: #2D242E;
    $color-tri: #dfdfe2;
    $color-quad: #dfdfe2;

    a {
      color: $color-sec;

      .link {
        color: $color-sec;
      }


      &>* {
        color: $color-sec;
      }
    }
  }
}